body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
}

#cursolbar {
  width: 100%;
  height: 170px;
  background-color: rgba(63, 62, 62, 0.6);
  margin-top: -150px;
  transition: margin 0.5s ease-out;
  -webkit-transition: margin 0.5s ease-out;
  position: relative;
}

#cursolbar:hover {
  margin-top: 0;
}

.locked_up {
  /*cursolbar*/
  width: 100%;
  height: 170px;
  background-color: rgba(63, 62, 62, 0.6);
  margin-top: 0;
  position: relative;
}

#topimg {
  width: 288px;
  height: 79px;
  margin: 45px 0 45px 70px;
  display: inline-block;
  opacity: 1;
}

#tophref {
  float: right;
  margin: 50px 30px 50px 0;
  opacity: 1;
}

#triangle {
  width: 0;
  height: 0;
  border: transparent 10px solid;
  border-top-color: whitesmoke;
  margin: 0 auto;
  position: absolute;
  top: 158px;
  left: 50%;
  opacity: 1;
}

#ghostbar {
  width: 250px;
  height: 650px;
  background-color: azure;
  margin: 0 0 0 -250px;
  transition: margin 0.5s ease-out;
}

#ghostbar ul li {
  list-style-type: none;
}

#ghostbar ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: dimgray;
}

.locked_side {
  /*ghostbar*/
  width: 250px;
  height: 650px;
  background-color: azure;
  margin-left: 0;
}

.imgbutton {
  width: 73px;
  height: 73px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  margin-right: 50px;
  cursor: pointer;
}

#subbar {
  position: absolute;
  top: 170px;
  right: 250px;
  background-color: azure;
  width: 250px;
  height: 150px;
  padding: 0;
  visibility: hidden;
}

#subbar li {
  height: 30px;
  list-style-type: none;
  font-size: 25px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.appear {
  /*subbar*/
  position: absolute;
  top: 170px;
  right: 250px;
  background-color: azure;
  width: 250px;
  height: 150px;
  padding: 0;
  visibility: visible;
}

#logout {
  cursor: pointer;
}

/*ハンバーガーメニューここから*/

.menu_trigger,
.menu_trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu_trigger {
  position: absolute;
  top: 0;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  margin: 63px 0 63px 2px;
  vertical-align: middle;
  opacity: 1;
}
.menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu_trigger span:nth-of-type(1) {
  top: 0;
}
.menu_trigger span:nth-of-type(2) {
  top: 20px;
}
.menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu_trigger.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-315deg);
}
.menu_trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu_trigger.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(315deg);
}

/*ハンバーガーメニューここまで*/
