.header {
  width: 100vw;
  background-color: black;
  position: fixed;
  opacity: 0.8;
  z-index: 1;
}
.navigation {
  margin: 0 50px;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parent_link {
  margin-left: 50px;
}
.logo {
  margin-left: 50px;
  width: 250px;
  height: auto 0;
}
.menu {
  width: 50px;
  height: 50px;
}
.login_out {
  margin: 0 auto;
  margin-right: 0;
  color: white;
  font-size: large;
  font-weight: bold;
}
